DEBUG = True
BERGCLOUD_CONSUMER_TOKEN = ''
BERGCLOUD_CONSUMER_TOKEN_SECRET = ''
BERGCLOUD_ACCESS_TOKEN = ''
BERGCLOUD_ACCESS_TOKEN_SECRET = ''
REDIS_URL = 'redis://127.0.0.1:6379'
CELERY_BROKER_URL = REDIS_URL
CELERY_RESULT_BACKEND = REDIS_URL
NS_AUTH_STRING = 'username:api_key'